<div class="cont">
    <div class="database-arch">
        <input type="checkbox" (change)="onDatabaseCheckboxChange($event, selectedDb)" [checked]="selectedDbId !== null">
        {{selectedDb.name}}
        <ul>
            <li *ngFor="let tab of selectedDb.tables" class="table-name">
                <input type="checkbox" (change)="onTableCheckboxChange($event, tab)"
                    [checked]="selectedTableIds.includes(tab.id)" [disabled]="isTableDisabled()">
                {{tab.name}}
                <ul>
                    <li *ngFor="let col of tab.columns" class="column-name">
                        <input type="checkbox" (change)="onColumnCheckboxChange($event, col)"
                            [checked]="selectedColumnIds.includes(col.id)" [disabled]="isColumnDisabled(tab.id)">
                        {{col.name}}
                    </li>
                </ul>
            </li>
        </ul>
        <div *ngIf="showSelectionError" class="error-message">
            Please select at least one database, table, or column.
        </div>
    </div>

    
    <div class="form-container" [hidden]="user.type == 'Analyst'">
        <button class="toggle-btn" (click)="toggleForm()">
            {{ isExistingUser ? 'Add New User' : 'Add Access to User' }}
        </button>

        <div class="form-wrapper">
            
            <form *ngIf="isExistingUser" class="fade-in">
                <h2>Add Access to User</h2>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="mail" required (input)="filterUsers(mail.value)" #mail
                        placeholder="Enter user email" [class.invalid]="emailError" />
                    <div *ngIf="emailError" class="error-message">{{emailError}}</div>
                    <ul class="suggestions" *ngIf="filteredUsers.length > 0">
                        <li *ngFor="let user of filteredUsers" (click)="selectUser(user)">
                            {{ user.mail }}
                        </li>
                    </ul>
                </div>
                <button type="button" class="submit-btn" (click)="addUser()">Submit</button>
                <div *ngIf="formError" class="error-message form-error">{{formError}}</div>
            </form>

            
            <form *ngIf="!isExistingUser" class="fade-in" [formGroup]="newUserform" (ngSubmit)="addNewUser()">
                <h2>Add New User</h2>
                <div class="form-group">
                    <label for="new-email">Email:</label>
                    <input type="email" id="new-email" name="mail" required formControlName="mail"
                        placeholder="Enter new user email" [class.invalid]="newUserform.get('mail').invalid && newUserform.get('mail').touched" />
                    <div *ngIf="newUserform.get('mail').invalid && newUserform.get('mail').touched" class="error-message">
                        Valid email is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <div class="password-row">
                        <input type="text" id="password" name="password" required readonly formControlName="password"
                            placeholder="Generated password" [class.invalid]="newUserform.get('password').invalid && newUserform.get('password').touched" />
                        <button type="button" class="password-button" (click)="generatePwd()">Generate</button>
                    </div>
                    <div *ngIf="newUserform.get('password').invalid && newUserform.get('password').touched" class="error-message">
                        Password is required
                    </div>
                </div>
                <button type="submit" class="submit-btn">Add User</button>
                <div *ngIf="formError" class="error-message form-error">{{formError}}</div>
            </form>
        </div>
    </div>
</div>