<div class="main-cont">
<input type="number" #i>
<button (click)="show(i.value)">Show</button>


<div class="page" #page *ngIf="rapport" >
    <div  *ngFor="let table of rapport.graphs" class="draggable resizable-table" [style.width.px]="table.width"
      [style.height.px]="table.height" [style.top.px]="table.toppos" [style.left.px]="table.leftpos">

      <table class="tab" *ngIf="table.format == 'table'">
        <thead>
          <tr>
            <th *ngFor="let header of table.headers">{{ header | titlecase}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of table.data">
            <td *ngFor="let key of table.headers">{{ row[key] }}</td>
          </tr>
        </tbody>
      </table>

      <canvas id="chartCanvas-{{table.id}}" class="charts" *ngIf="table.format === 'chart'"></canvas>



    </div>
  </div>
  </div>