<div class="main">

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EasySql</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://finconnect-fs.com">About us</a>
          </li>


        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


  <div class="title">
    Welcome to Easysql <br>
    your SQL gui for beginners
  </div>

  <div class="projects_container">
    <h2>Projects :</h2>
    <div class="scroll_container">

      
      <div class="list_projects">

        <div class="new_project">
          <div class="project_text"> New connection :</div>
          <div class="project_inside">
            <i class="fas fa-plus-circle"></i>
          </div>
        </div>
        <div class="project">
          <div class="project_text"> Youssef db :</div>
          <div class="project_inside">
            <i class="fas fa-user"></i>
            <button routerLink="/main">Open</button>
          </div>
        </div>
        
        <div class="project">
          <div class="project_text"> Youssef 2 db :</div>
          <div class="project_inside">
            <i class="fas fa-user"></i>
            <button routerLink="/main">Open</button>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>