.navbar{
    background-color: black;
}

.main{
    
    
    background: linear-gradient(135deg,#9A9B9E, #505294);
    height: 100vh;
}
.title{
    width: 500px;
    height: 100px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    color: #EFEFEF;
    font-size: 36px;
    font-family: 'Inter';
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7) ;
}


.projects_container{
    width: 75%;
    margin: auto;
    margin-top: 80px;
}


h2{

    color: #EFEFEF;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Inter';

}



.list_projects{
    margin-top: 25px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 30px;
    scroll-behavior: smooth; 
    padding-bottom: 10px;

}


.list_projects::-webkit-scrollbar {
    height: 8px; 
  }
  
  .list_projects::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
  }
  
  .list_projects::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #002954, #004B91); 
    border-radius: 10px;
    transition: background 0.3s ease;
  }
  
 
  

.new_project,.project{
    width: 400px;
    height: 250px;
    background-color: #DEDEDE;
    border-radius: 15px;
    padding: 15px;
    flex-shrink: 0;
   

}

.project_text{
    height: 20%;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    font-family: 'Inter';
}

.project_inside{
    height: 70%;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 50px;
    font-weight: bold;
    color: #000000;
}


.username{
    font-size: 20px;
}
.project_inside button{
    width: 100px;
    height: 40px;
    background-color: black;
    color: #DEDEDE;
    border-radius: 20px;
    font-size: 15px;
    padding: 5px 15px 5px 15px ;
    font-weight: 500;
    font-family: 'Inter';
    margin-top:15px ;
}

