<div class="cont">
    <div class="database-arch" [class.disabled]="selectedAnalystId === null || user.type == 'Analyst'" *ngIf=" user.type != 'Analyst'">
        <input type="checkbox" (change)="onDatabaseCheckboxChange($event, selectedDb)" [checked]="selectedDbId !== null">
        {{selectedDb.name}}
        <ul>
            <li *ngFor="let tab of selectedDb.tables" class="table-name">
                <input type="checkbox" (change)="onTableCheckboxChange($event, tab)"
                    [checked]="selectedTableIds.includes(tab.id)" [disabled]="isTableDisabled()">
                {{tab.name}}
                <ul>
                    <li *ngFor="let col of tab.columns" class="column-name">
                        <input type="checkbox" (change)="onColumnCheckboxChange($event, col)"
                            [checked]="selectedColumnIds.includes(col.id)" [disabled]="isColumnDisabled(tab.id)">
                        {{col.name}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
<div class="table-container">
    <table class="user-table">
      <thead>
        <tr class="user-search">
          <td>
            <input type="text" placeholder="Search users..." (input)="searchUser(input.value)" #input/>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let analyst of filteredAnalysts; let i = index">
          <td class="user-row">
            <div class="user-element">
              <input 
                [disabled]="analyst.identif == user.identif"
                type="checkbox" 
                [checked]="selectedAnalystId === analyst" 
                (change)="toggleCheck(analyst)"
              >
              <i class="fa-solid fa-user-circle"></i>
              <div (click)="showUserDetails(analyst)" class="user-mail">{{ analyst.mail }}</div>
            </div>
          
            <div class="buttons" *ngIf="selectedAnalystId === analyst" >
              <button class="update-button" (click)="updateUser(analyst)" [hidden]="user.type == 'Analyst'">Update</button>
              <button class="task-button" (click)="openTaskDialog(analyst.identif)">Send Task</button>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>