<div class="cont" *ngIf="selectedDb">
  <!-- Database selector -->
  <div class="db-selector">
    <label for="db-select">Database:</label>
    <select id="db-select" class="db-select" [(ngModel)]="selectedDb" (change)="getDbAnalysts()">
      <option *ngFor="let db of dbs" [ngValue]="db">{{ db.name }}</option>
    </select>
  </div>
  
  <!-- Two-column layout -->
  <div class="content-wrapper">
    <!-- Navigation links -->
    <div class="nav-links">
      <a href="#" (click)="showList = true; $event.preventDefault()" >Analysts list</a> |
      <a href="#" (click)="showList = false; $event.preventDefault()" >Add new analyst</a>
    </div>
    
    <!-- Conditional rendering based on showList flag -->
    <app-list-user *ngIf="showList" [selectedDb]="selectedDb" [analysts]="analysts" class="full-width"></app-list-user>
    <app-add-user *ngIf="!showList" [user]="user" [analysts]="analysts" [selectedDb]="selectedDb" class="full-width"></app-add-user>
  </div>
</div>