.main_container{
    display: flex;
    height: 100%;
}

.nav{
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    width:260px ;

}


.section{
    margin-left:260px;
    width: 100vw;
     height: 100vh;
     bottom: 0;
     
     position: fixed;
}