<div class="container1">


    <div class="title">
        Setup new connection
    </div>

    <hr>

    <div class="db_form">

        <div class="list_db">
            <ul>
                <li (click)="changeIndex(1)"><i class="fas fa-database"></i> Base de données MySQL</li>
                <li (click)="changeIndex(2)"><i class="fas fa-database"></i> Base de données Oracle</li>
            </ul>

        </div>
        <div class="vertical-line">

        </div>
        <div >
            <h2>{{db_type}} Database informations</h2>
            <form action="" class="formulaire" [formGroup]="form" (ngSubmit)="insertConnection()">
                <label class="port_label">
                    Port : <input type="text" formControlName="port">
                </label>
                <label class="host_label">
                    Host : <input type="text" formControlName="host">
                </label>
                <label class="user_label">
                    Username : <input type="text" formControlName="username">
                </label>
                <label class="password_label">
                    Password : <input type="text" formControlName="password">
                </label>

                <button type="submit">Insert</button>
               
            </form>
        </div>

        

    </div>

</div>