<div class="insert-form-container" *ngIf="user" [class.disabled]="user.type == 'Analyst'">
  
  <section class="side">
    
    <div class="db-selector">
      <label for="dbSelect">Select Database:</label>
      <select id="dbSelect" class="db-select" 
              [(ngModel)]="selectedDbIndex" 
              (change)="toggleDb(databases[selectedDbIndex])">
        <option *ngFor="let db of databases; let i = index" [value]="i">
          {{db.name | titlecase}}
        </option>
      </select>
    </div>

    
    <div class="tables-container" *ngIf="selectedDbIndex != null">
      <h3 class="section-title">Tables</h3>
      <ul class="tables-list">
        <li *ngFor="let table of databases[selectedDbIndex]?.tables" 
            class="table-item" 
            [class.selected]="selectedTable?.id === table.id">
          <div class="table-header" (click)="toggleTable(table)">
            <span class="expander">
              <svg width="10" height="10" viewBox="0 0 10 10" 
                   [class.expanded]="showColumns[table.name]">
                <polygon points="0,0 10,5 0,10" fill="#444" />
              </svg>
            </span>
            <span class="table-name">{{ table.name }}</span>
          </div>

          
          <div class="table-actions" *ngIf="showColumns[table.name]">
            <button type="button" class="btn-select-table" (click)="selectTable(table, 'insert')">
              <i class="fa-solid fa-pen"></i> Insert
            </button>
            <button type="button" class="btn-select-table" (click)="selectTable(table, 'update')">
              <i class="fa-solid fa-rotate"></i> Update
            </button>
            <button type="button" class="btn-select-table" (click)="selectTable(table, 'delete')">
              <i class="fa-solid fa-trash"></i> Delete
            </button>
          </div>
        </li>
      </ul>
    </div>
  </section>

  
  <div class="form-area">
    <app-lmd-insert 
      *ngIf="formMode === 'insert' && selectedTable" 
      [selectedTable]="selectedTable" 
      [tableColumns]="tableColumns"
      (formSubmit)="onInsertSubmit($event)"
      (formReset)="resetForm()">
    </app-lmd-insert>
    <app-lmd-update 
      *ngIf="formMode === 'update' && selectedTable" 
      [selectedTable]="selectedTable" 
      [tableColumns]="tableColumns"
      [availableTables]="availableTables"
      (formSubmit)="onUpdateSubmit($event)"
      (formReset)="resetForm()">
    </app-lmd-update>
    <app-lmd-delete 
      *ngIf="formMode === 'delete' && selectedTable" 
      [selectedTable]="selectedTable" 
      [tableColumns]="tableColumns"
      [availableTables]="availableTables"
      (formSubmit)="onDeleteSubmit($event)"
      (formReset)="resetForm()">
    </app-lmd-delete>
    <div class="no-table-message" *ngIf="!selectedTable">
      <p>Please select a table from the list on the left.</p>
    </div>
  </div>
</div>